.header {
    background: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(40px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 12 px;
    padding: 1rem;
    top:0;
    z-index: 50;
}

.logo{
    cursor:pointer;
}

.searchBar{
    flex: 1;
    max-width: 500 px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.searchInput{
 width: 100%;
 padding: 0.5rem 1rem;
 border: 1px solid #ddd;
 border-radius: 20px 0 0 20px;
 outline: none;
}